body {
  background-color: rgb(27, 155, 206);
  padding: 0px;
  margin: 0px;

}.head {
  display: flex;
  border-bottom: 2px solid;
  border-color: white;
  padding-bottom: 5px;
  
  

}.head-menu {
  display: flex;
  text-align: left;


}.head-button {
  display: flex;
  margin-top: 5px;
  width: 100%;
  margin-right: 10px;
  text-align: right;
  justify-content: right;
  align-content: center;
  gap: 10px;
  
  
  

  

}h1 {
  color: white;
  font-family: Kanit, Arial;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 500%;
  margin: 0px;
  display: inline-block;


}p {
  font-family: Roboto, Arial;
  font-size: 150%;
  font-weight: bold;
  color: white;
  margin: 0px;
  padding: 0px;
  

}button {
  background-color: white;
  border: 0px;
  border-radius: 20px;
  padding: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Radio Canada Big, Arial;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;


}button:hover {
  opacity: 80%;
  
}button:active {
  opacity: 60%;
  background-color: gray;

}.head-image {
  margin-top: 2px;
  width: 50px;
  height: 50px;

  
}.head-image:hover {
  cursor: pointer;

}.head-image-menu {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  

}.body {
  text-align: center;


}.copyright {
  display: inline-block;
  font-size: 30%;
  

}.body-image-image {
  width: 100%;

}.body-image {
  z-index: 1000;
  position: relative;


}.body-title {
  z-index: 1001;
  position: absolute;
  top: 15%;
  right: 0px;
  left: 0px;

}.body-video, body-video-2 {
  z-index: 1001;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
  bottom: 10%;
  border-style: solid;
  border-color: rgb(216, 222, 224);

}.footer {
  height: 20%;
  background-color: rgb(247, 242, 242);

}.footer-image-image {
  margin-top: 1%;
  width: 15%;

}.footer-image {
  display: flex;
  justify-content: center;

}.footer-image-title {
  text-align: center;

}.footer-title {
  color: rgb(0, 0, 0);
  font-size: 200%;
  font-family: Kanit, Arial;

}.footer-text {
  color: gray;
  font-size: 80%;
  margin-top: 10px;

}.footer-title-small {
  border-bottom: solid 2px black;
  font-size: 120%;
  color: black;

}.body-steps1 {
  width: 25%;
  display: inline-block;
  margin-bottom: 10%;

}.body-steps1-image {
  width: 100%;
  border: solid 2px white;
  border-radius: 5px;
  margin-left: 10px;

}.body-steps1-title {
  font-size: 300%;
  vertical-align: top;
  

}.body-steps1-text {
  display: inline-block;
  vertical-align: top;
  margin-left: 3%;

}.body-steps-title {
  text-align: center;
  border-bottom: solid 2px white;
  margin-bottom: 5%;


}.body-steps {
  vertical-align: center;
  border-bottom: solid 2px white;
  margin-bottom: 2%;

  
}.body-reviews-title {
  text-align: center;
  margin-top: 5%;

}.body-review-1 {
  width: 80%;
  border: solid 2px white;

}.body-review {
  display: flex;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
  
} a{
  cursor: pointer;

}.body-timer {
  text-align: center;

}.body-co2 {
  text-align: center;
  

}.co2 {
  color: rgb(12, 230, 12);

}.body-timer-text, .body-co2-text {
  text-align: center;

}.footer-text-disclaimer {
  color: gray;
  font-size: 40%;

}.head-button-image {
  margin-top: 10px;
  width: 35px;
  height: 35px;

}.head-image-menu:hover {
  cursor: pointer;

}.head-button-image:hover {
  cursor: pointer;

}.body-images {
  margin-top: 6%;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 8%;

}.body-image-1 {
  width: 70%;
  border: solid 2px white;

}.body-text {
  display: flex;
  gap: 18%;
  justify-content: center;
  margin-bottom: 15%;

}.body-video-2 {
  bottom: 8%;
  border: solid white;

}.body-problem-title {
  margin-top: 5%;

}.body-timer-title {
  text-align: center;

}.body-co2-image {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}.body-problem-picture {
  width: 100%;
  border: solid 2px white;

}.body-problem-div {
  margin-top: 5%;
  display: flex;
  width: 100%;

}.body-problem-div-picture {
  width: 30%;
  margin-left: 3%;

}.body-problem-div-text {
  margin-left: 5%;
  
}.body-help-title {
  text-align: center;
  vertical-align: top;

}.body-help-image {
  width: 70%;

}.body-help-div-image {
  width: 28%;
  border: solid 2px white;

}.body-help-div {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 3%;

}.body-help-text {
  gap: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;

}.dropdown {
  position: relative;
  display: inline-block;

}.dropdown-content {
  display: none;
  position: relative;
  width: 100px;
  z-index: 0;
  color: white;

}.dropdown-content a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  border-right: solid 2px white;
  border-left: solid 2px white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

}.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgb(27, 155, 206);

}.dropdown-content a:hover {
  background-color: gray;

}.body-contact-title {
 text-align: center; 

}.body-contact-maps {
  margin-top: 0%;
  text-align: center;
  
}.body-contact-maps-title {
  margin-top: 5%;
  text-align: center;

}.body-contact-maps-text {
  margin-bottom: 5%;

}.body-co2-div {
  margin-bottom: 5%;

}.body-purpose {
  z-index: 1003;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;

}.body-team-div {
  text-align: center;
  margin-top: 25%;

}.body-team-image {
  width: 80%;
  border: solid white;

}.body-product-video {
  margin-top: 2%;
  border: solid white;

}.body-shop-div {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-top: 5%;

}.body-shop-text, .body-shop-text2 {
  display: inline-block;

}.body-shop-text {
  opacity: 40%;

}.body-shop-button {
  display: inline-block;
  margin-left: 3%;
  padding-bottom: 10px;
  padding-top: 10px;

}.body-shop-tax {
  font-size: 80%;
  opacity: 60%;
  margin-bottom: 5%;

}.body-shop-input {
  margin-top: 2%;
  padding: 10px;
  border-radius: 5%;
  border: solid white;

}.body-shop-cart {
  display: block;
  margin-top: 5%;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0px;

}.body-shop-timer {
  text-align: center;

}.body-shop-title {
  display: block;

}.body-shop-image {
  width: 60%;
  margin-left: 25%;
  height: 80%;
  border: solid white;

}.body-menu-text {
  font-size: 120%;
}